* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	margin-top: 20px;
	text-align: center;
	font-family: arial;
}

#box1 {
	font-family: papyrus;
	font-size: 25px;
	color: darkgreen;
	padding-left: 50px;
}
#box2 {
	padding-top: 10px;
padding-left: 50px;
}
#box3 {
	padding-top: 10px;
	font-family: garamond;
	font-size: 25px;
	color: blue;
	padding-left: 50px;
}
#box4 {
	padding-top: 10px;
	padding-left: 50px;
}
#box5 {
	padding-top: 10px;
	font-family: arial;
	font-size: 25px;
	color: red;
	padding-left: 50px;
}
#box6 {
padding-left: 50px;
padding-top: 10px;
padding-bottom: 50px;
}

#whole {
	background-color: #002540;
	margin: 0;
	padding-left: 10px;
	box-sizing: border-box;
	flex: none;
	color: white;
	font-family: arial;
}
#first {
	font-size: 20px;
}

#set1 {
	display: inline-block;
}
#set2 {
	display: inline-block;
	padding: 50px;
}
#set3 {
	display: inline-block;
		padding: 50px;
}
#set4 {
	display: inline-block;
		padding: 50px;
}

#footer {
	margin-top: 10px;
	margin-left: 20px;
}

#terms {
	display: inline-block;
}
#separator1 {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
#privacy {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
#separator2 {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
#rights {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}